body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(245, 245, 245);
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.title {
  color: rgb(73, 73, 73);
  margin: 50px 0;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

.list {
  text-decoration: none;
  padding: 0;
}

.list-item {
  max-width: 519px;
  width: 100%;
  display: block; 
  text-decoration: none;
  margin-bottom: 30px;
  height: 100%;
  max-height: 500px;

  -webkit-box-shadow: 15px 16px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 15px 16px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 15px 16px 8px 0px rgba(34, 60, 80, 0.2);


}

.img {
  max-width: 519px;
  width: 100%;
}

.footer {
  padding: 20px 0;
 
}

.link {
  color: rgb(73, 73, 73);
  display: block;
  margin-bottom: 10px;
}
/* 
.list-item {
  display: block; 
  overflow: hidden; 
}
.list-item  {
  transition: 1s;
  display: block; 
}
.list-item:hover {
  transform: skew(-2deg); 
} */