@font-face {
  font-family: "RobotoBold";
  src: local("RobotoMono"), url(./fonts/RobotoMono-Bold.ttf);
}

@font-face {
  font-family: "RobotoReg";
  src: local("RobotoMono"), url(./fonts/RobotoMono-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(245, 245, 245);
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.title {
  color: rgb(73, 73, 73);
  margin: 50px 0;
  font-size: 70px;
  font-family: "RobotoBold", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

.list {
  text-decoration: none;
  padding: 0;
}

.list-item {
  position: relative;
  max-width: 400px;
  width: 100%;
  display: block;
  text-decoration: none;
  margin-bottom: 120px;
  height: 100%;
  max-height: 380px;
  cursor: pointer;
}

.picture-block {
  transition: all 0.2s linear;
}

.list-item:hover .picture-block {
  opacity: 0.2;
}

.list-item:hover .discription {
  opacity: 1;
}

.list-item:last-child {
  margin-bottom: 0;
}

.discription {
  opacity: 0;
  position: absolute;
  z-index: 1000;
  font-size: 25px;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: all 0.2s linear;
}

.img {
  max-width: 400px;
  width: 100%;
}

.footer {
  padding: 20px 0;
}

.link {
  font-family: "RobotoReg";
  color: rgb(73, 73, 73);
  display: block;
  margin-bottom: 10px;
}
